---
layout: dynamic
---
<!-- https://p5js.org/examples/motion-bouncy-bubbles.html -->
<!-- <title>tOS 2.0.21</title> -->
<script type="text/javascript" src="js/p5.min.js">
</script>
<style>
   .bg {
     width: 100%;
     background-color: pink;
   }

   .bg--img {
     position: fixed;
     top: 0;
     left: 0;
     max-width: 100%;
     z-index: -100;
   }
</style>

{% include toasty_bubbles.html %}
{% include toasty_faq.html %}
{% include leaderboard.html %}






<!--
<div class="sec2" style="background-color: #ff6600;">
  <h1>Why tOS? </h1>
  One useful techinique to reaching goals is to visualize your success.
  Here, we visualize our progress.

  <em>tOS</em>, first introduced in 2009, has been proven a great tool to motivate club members to grow by engaging on more activities.
  We have made efforts to make it even better.
  The system runs in a monthly basis.
</div> -->

<!-- <div class="sec0" style="color:white">
  <h1 style="color:white">Section 3</h1>
</div>

<div class="sec2">
  <h1>How to Earn Points</h1>
  <br>
  <br>

</div>



<div class="sec2">
  <h1>Section 1</h1>
</div>


<div class="sec1">
  <h1>Section 1</h1>
</div> -->



<!-- Modal -->
<div class="modal fade" id="modalHow2EarnPoints" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ways to Earn Points</h5>
      </div>
      <div class="modal-body">
         {% include modals/how2EarnPoints.html %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
