<div class="container">
  <div class="row">
    <div class="col">
      <!-- <h3>tOS 2.0.21</h3> -->
      <ul class="list-group" style="border:none">
        <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-primary rounded-pill">+1</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Attending Meeting/Social Virtually</strong></div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-warning rounded-pill">+3</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Attending Meeting/Social In-Person</strong></div>
          </div>
        </li> -->
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-warning rounded-pill">+3</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Delivering Prepared Speech</strong></div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-danger rounded-pill">+5</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Delivering <i>Group Speech [NEW]</i></strong></div>
            e.g. Dual speech with your mentor :)
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-warning rounded-pill">+2</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Delivering TT Speech/Evaluation</strong></div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-info rounded-pill">-2</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Signed up but join late (after 5:55) </strong></div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-warning rounded-pill">+1</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Give feedbacks/ideas</strong></div>
            to improve the meeting
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-primary rounded-pill">+1</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Early TM sign-up</strong></div>
            including TT Speech
          </div>
        </li><li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-primary rounded-pill">+4</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Member Sign-up</strong></div>
          </div>
        </li><li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-primary rounded-pill">+3</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Best Speaker</strong></div>
          </div>
        </li><li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-primary rounded-pill">+2</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Best TableTopics/Evaluator</strong></div>
          </div>
        </li><li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-warning rounded-pill">+1</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Use Word of the Day</strong></div>
          </div>
        </li><li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-warning rounded-pill">+🎲</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Receieved Traveling Award</strong></div>
          </div>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-warning rounded-pill">+2</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Toastmaster/TopicsMastr/GE</strong></div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span class="badge bg-warning rounded-pill">+1</span>
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>Sign up for supporting roles</strong></div>
          </div>
        </li>

        <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         Change log
        </button> -->
        <!-- <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <ul>
              <li>9/10/2021 - tOS 2.0.21.</li>
            </ul>
          </div>
        </div> -->
    </div>
  </div>
</div>
