<div class="col">
  <h3>tOS 2.0.20 </h3>

  <ul class="list-group" style="border:none">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <span class="badge bg-primary rounded-pill">+1</span>
      <div class="ms-2 me-auto">
        <div class="fw-bold"><strong>Attending Meeting/Social</strong></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <span class="badge bg-primary rounded-pill">+2</span>
      <div class="ms-2 me-auto">
        <div class="fw-bold"><strong>Delivering Prepared Speech</strong></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <span class="badge bg-primary rounded-pill">+1</span>
      <div class="ms-2 me-auto">
        <div class="fw-bold"><strong>Delivering TT Speech/Evaluation</strong></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <span class="badge bg-primary rounded-pill">+1</span>
      <div class="ms-2 me-auto">
        <div class="fw-bold"><strong>Early TM sign-up</strong></div>
      </div>
    </li><li class="list-group-item d-flex justify-content-between align-items-start">
      <span class="badge bg-primary rounded-pill">+4</span>
      <div class="ms-2 me-auto">
        <div class="fw-bold"><strong>Member Sign-up</strong></div>
      </div>
    </li><li class="list-group-item d-flex justify-content-between align-items-start">
      <span class="badge bg-primary rounded-pill">+3</span>
      <div class="ms-2 me-auto">
        <div class="fw-bold"><strong>Best Speaker</strong></div>
      </div>
    </li><li class="list-group-item d-flex justify-content-between align-items-start">
      <span class="badge bg-primary rounded-pill">+2</span>
      <div class="ms-2 me-auto">
        <div class="fw-bold"><strong>Best TableTopics/Evaluator</strong></div>
      </div>
    </li><li class="list-group-item d-flex justify-content-between align-items-start">
      <span class="badge bg-primary rounded-pill">+2</span>
      <div class="ms-2 me-auto">
        <div class="fw-bold"><strong>Receieved Traveling Award</strong></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <span class="badge bg-primary rounded-pill">+1</span>
      <div class="ms-2 me-auto">
        <div class="fw-bold"><strong>Toastmaster/TopicsMastr/GE</strong></div>
        Since 2.0.20
      </div>

    </li>

  </ul>

</div>
