
<!--==================================
=            Registration            =
===================================-->


<section id="connect" class="registration">
	<div class="container-fuild p-0">
		<div class="row">
			<div class="col-lg-6 col-md-12 p-0">
				<div class="service-block bg-service overlay-primary text-center">
					<div class="row no-gutters">
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-users"></i>
								<h5>300,000+ members</h5>
							</div>
						</div>
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-globe"></i>
								<h5>149 countries</h5>
							</div>
						</div>
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-glass"></i>
								<h5>15,800+ clubs</h5>
							</div>
						</div>
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-birthday-cake"></i>
								<h5>Since 1924</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 p-0">
				<div class="registration-block bg-registration overlay-dark">
					<div class="block">
						<div class="title text-left">
							<h3>Register to <span class="alternate">Toastmasters</span></h3>
              <div class="section-title white">
  							<p>
  							<i>
                  Toastmasters International is a nonprofit educational organization that teaches public speaking and leadership skills
                  through a worldwide network of clubs. Headquartered in Englewood, Colo., the organization's membership
                  exceeds 300,000 in more than 15,800 clubs in 149 countries. Since 1924,
                  Toastmasters International has helped people from diverse backgrounds
                  become more confident speakers, communicators, and leaders.
                </i>
                </p>
						  </div>
						</div>
						<form action="#" class="row">
							<!-- <div class="col-md-6">
								<input type="text" class="form-control main" placeholder="Your Name">
							</div>
							<div class="col-md-6">
								<input type="email" class="form-control main" placeholder="Email">
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control main" placeholder="Phone">
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<select class="form-control main" id="select-ticket">
								      <option>Ticket Type</option>
								      <option>1</option>
								      <option>2</option>
								      <option>3</option>
								      <option>4</option>
								      <option>5</option>
								    </select>
								</div>
							</div> -->
							<div class="col-12">
                <!-- type="submit"  -->
								<a class="btn btn-white-md" href="https://www.toastmasters.org/about/all-about-toastmasters">Learn more</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Registration  ====-->




<!--===================================
=            Pricing Table            =
====================================-->

<section class="section pricing">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<!-- <h3>Get <span class="alternate">ticket</span></h3> -->
					<h3>Become <span class="alternate">a Club Member</span></h3>
					<p>Anyone interested in improving their public speaking, communication, and leadership skills is invited to visit our club meeting!</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Pricing Item -->
				<div class="pricing-item">
					<div class="pricing-heading">
						<!-- Title -->
						<div class="title">
							<h6>Guest</h6>
						</div>
						<!-- Price -->
						<div class="price">
							<h2>FREE<span></span></h2>
							<p>Forever</p>
						</div>
					</div>
					<div class="pricing-body">
						<!-- Feature List -->
						<ul class="feature-list m-0 p-0">
							<li><p><span class="fa fa-times-circle unavailable"></span>Give a prepared speech</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Give an improv speech</p></li>
               <!-- (TableTopics) -->
							<li><p><span class="fa fa-times-circle unavailable"></span>Give an evluation speech</p></li>
							<li><p><span class="fa fa-times-circle unavailable"></span>Mentorship program</p></li>
							<li><p><span class="fa fa-times-circle unavailable"></span>Pathway Resources</p></li>
              <li><p><span class="fa fa-times-circle unavailable"></span>Club Resources (Slack)</p></li>
              <li><p><span class="fa fa-times-circle unavailable"></span>Toastmasters Competitions</p></li>
							<li><p><span class="fa fa-times-circle unavailable"></span>Join any TM Club worldwide</p></li>
							<li><p><span class="fa fa-times-circle unavailable"></span>TM Certificate</p></li>
						</ul>
					</div>
					<div class="pricing-footer text-center">
						<a href="/index.html#agenda" class="btn btn-transparent-md">Upcoming meeting</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Pricing Item -->
				<div class="pricing-item featured">
					<div class="pricing-heading">
						<!-- Title -->
						<div class="title">
							<h6>Member</h6>
						</div>
						<!-- Price -->
						<div class="price">
							<!-- <h2>11.67<span>$</span></h2> -->
							<h2>8.33<span>$</span></h2>
							<!-- <p>/Person</p> -->
							<p>/Month</p>
							<!-- <p>6 Month (New member fee $20 + Toastmaster Intl $45 + Local Club $5</p> -->
						</div>
					</div>
					<div class="pricing-body">
						<!-- Feature List -->
						<ul class="feature-list m-0 p-0">
              <li><p><span class="fa fa-check-circle available"></span>Give a prepared speech</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Give an improv speech</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Give an evluation speech</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Mentorship program</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Pathway Resources</p></li>
              <li><p><span class="fa fa-check-circle available"></span>Club Resources (Slack)</p></li>
              <li><p><span class="fa fa-check-circle available"></span>Toastmasters Competitions</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Join any TM Club worldwide</p></li>
							<li><p><span class="fa fa-check-circle available"></span>TM Certificate</p></li>
						</ul>
					</div>
					<div class="pricing-footer text-center">
						<a href="/index.html#officers" class="btn btn-transparent-md">Contact a officer</a>
					</div>
				</div>
			</div>
      <div class="col-lg-4 col-md-6 m-auto">
        <p class="pricing-heading">

        <!-- <br/> -->
        <!-- <br/> -->
        Our club memberships run on a 6-month term, which these terms start April 1st & October 1st and are used to fund the local club ($5), Toastmaster Intl.($45), and a one-time new member fee ($20).
        </p>
      </div>
			<!-- <div class="col-lg-4 col-md-6 m-auto">
				<div class="pricing-item">
					<div class="pricing-heading">
						<div class="title">
							<h6>Current Member</h6>
						</div>
						<div class="price">
							<h2>8.33<span>$</span></h2>
							<p>/Month</p><br>
							<p>6 Month (Toastmaster Intl $45 + Local Club $5</p>
						</div>
					</div>
					<div class="pricing-body">
						<ul class="feature-list m-0 p-0">
							<li><p><span class="fa fa-check-circle available"></span>1 Comfortable Seats</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Free Lunch and Coffee</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Certificate</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Easy Access</p></li>
						</ul>
					</div>
					<div class="pricing-footer text-center">
						<a href="#" class="btn btn-transparent-md">Buy a ticket</a>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</section>

<!--====  End of Pricing Table  ====-->


<!--===========================================
=            Call to Action Ticket            =
============================================-->

<!-- <section class="cta-ticket bg-ticket overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="content-block">
					<h2>Get Ticket <span class="alternate">Now!</span></h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmtempor incidi</p>
					<a href="" class="btn btn-main-md">Buy ticket</a>
				</div>
			</div>
		</div>
	</div>
	<div class="image-block"><img src="images/speakers/speaker-ticket.png" alt="" class="img-fluid"></div>
</section> -->

<!--====  End of Call to Action Ticket  ====-->

<!--==============================
=            Sponsors            =
===============================-->

<!-- <section class="sponsors section bg-sponsors overlay-white">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Our <span class="alternate">Sponsors</span></h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore dolore</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="sponsor-title text-center">
					<h5>Platinum Sponsors</h5>
				</div>
				<div class="block text-center">
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/sponsors/pt-spon-two.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/sponsors/pt-spon-two.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/sponsors/pt-spon-three.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/sponsors/pt-spon-four.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="sponsor-title text-center">
					<h5>Gold Sponsors</h5>
				</div>
				<div class="block text-center">
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/sponsors/gl-spon-one.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/sponsors/gl-spon-two.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/sponsors/gl-spon-three.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="sponsor-btn text-center">
					<a href="#" class="btn btn-main-md">Become a sponsor</a>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!--====  End of Sponsors  ====-->

<!--================================
=            News Posts            =
=================================-->

<!-- <section class="news section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Eventre <span class="alternate">News</span></h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore dolore</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="news-single.html">
							<img src="images/news/post-thumb-one.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>20<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-heart-o"></i>
									<a href="#">350</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-comments-o"></i>
									<a href="#">30</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="news-single.html">
							<img src="images/news/post-thumb-two.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>20<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-heart-o"></i>
									<a href="#">350</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-comments-o"></i>
									<a href="#">30</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="news-single.html">
							<img src="images/news/post-thumb-three.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>20<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-heart-o"></i>
									<a href="#">350</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-comments-o"></i>
									<a href="#">30</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!--====  End of News Posts  ====-->



<!--==============================================
=            Call to Action Subscribe            =
===============================================-->

<section id="subscribe" class="cta-subscribe bg-subscribe overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mr-auto">
				<!-- Subscribe Content -->
				<div class="content">
					<h3>Subscribe to Our <span class="alternate">Emails</span></h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor</p> -->
				</div>
			</div>
			<div class="col-md-6 ml-auto align-self-center">
				<!-- Subscription form -->
				<form action="#" class="row">
					<!-- <div class="col-lg-8 col-md-12">
						<input type="email" class="form-control main white mb-lg-0" placeholder="Email">
					</div> -->
					<div class="col-lg-4 col-md-12">
						<div class="subscribe-button">
							<a class="btn btn-main-md" href="https://forms.gle/92ti17aJcPbKbw2WA" target="_blank">Subscribe</a>
						</div>
					</div>

					<div class="col-lg-4 col-md-12">
						<div class="subscribe-button">
							<a class="btn btn-main-md" href="https://calendar.google.com/calendar/u/0?cid=Y19tNWVpNjJzZTk2cmptMWR2cXVncjgyYjJuZ0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t" target="_blank">Add Google Calender</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!--====  End of Call to Action Subscribe  ====-->
