<!--=========================
=            FAQ            =
==========================-->

<section id="faq" class="section faq">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Our <span class="alternate">FAQ</span></h3>
					<!-- <p>This section is designed to help answer your burning questions. What is UTSTM what should I be doing as a member etc. If your questions are more specific, look at the FAQ page, or Slack message an officer.</p> -->
					<p>Feel free to reach out any <a href="#officer">club officer</a> for questions.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="accordion-block">
					<div id="accordion">
						<!-- Collapse -->
						<div class="card">
							<!-- Collapse Header -->
							<div class="card-header" id="headingOne">
							  <h5 class="mb-0">
							    <a data-toggle="collapse" href="#collapseOne">
							      <span class="fa fa-plus-circle"></span>What is UTSTM?
							    </a>
							  </h5>
							</div>
							<!-- Collapse Body -->
							<div id="collapseOne" class="collapse show" data-parent="#accordion">
							  <div class="card-body">
							    We are a community of students at UT Austin dedicated to improving our public speaking and professional skills. We do this at our toastmaster meetings, which occur weekly on Fridays from 5:55-7:15.

                  <br>
                  <br>
                  At meetings our members get ample opportunities to practice public speaking.
							  </div>
							</div>
						</div>
						<!-- Collapse -->

						<!-- Collapse -->
						<div class="card">
							<!-- Collapse Header -->
							<div class="card-header" id="headingOne">
							  <h5 class="mb-0">
							    <a data-toggle="collapse" href="#collapseThree">
							      <span class="fa fa-plus-circle"></span>What is ‘Pathways’, and how do I sign up?
							    </a>
							  </h5>
							</div>
							<!-- Collapse Body -->
							<div id="collapseThree" class="collapse" data-parent="#accordion">
							  <div class="card-body">
                  Pathways is the educational program Toastmasters International provides for its members. The Pathway you choose will give you a list of speech topics and activities to improve your public speaking and leadership skills.
                  <br/>
                  Whenever you see someone doing a prepared speech, they’re completing a project from their pathways.
                  <br/>
                  There are 11 pathways you can choose from. Explore them all <a href="https://www.toastmasters.org/Pathways-Overview">here (scroll down a bit)</a>
                  <br/>
                  To read more look at <a href="https://docs.google.com/document/d/1o6XsYJnRv0VwaIGl5KMGqzz1z6jQDemxdXjELNUBt54/edit">this document</a>
							  </div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="accordion-block">
					<div id="accordionTwo">

            <!-- Collapse -->
            <div class="card">
              <!-- Collapse Header -->
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseFour">
                    <span class="fa fa-plus-circle"></span>What is the mentorship program?
                  </a>
                </h5>
              </div>
              <!-- Collapse Body -->
              <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  A mentor offers you guidance and support so that you can get the most out of this club. The mentorship program is managed by the VPM, who pairs mentees with their mentors.

                  <br>
                  <br>
                  <a class="btn btn-main-md" href="https://utsciencestm.wixsite.com/website/post/membership-why-is-it-important">
                    learn more
                  </a>
                </div>
              </div>
            </div>
            <!-- Collapse -->
            <div class="card">
              <!-- Collapse Header -->
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseFive">
                    <span class="fa fa-plus-circle"></span>How to become a member
                  </a>
                </h5>
              </div>
              <!-- Collapse Body -->
              <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  The best way to learn if this club is for you is to join a meeting. Visit this <a href="https://utsciencestm.wixsite.com/website/joining-the-club">link</a> to see how to attend a meeting.
                  <br/>
                  There is no introduction meeting for all our new members. You can join our club any time in the school year!
                </div>
              </div>
            </div>

            <div class="card">
							<!-- Collapse Header -->
							<div class="card-header" id="headingOne">
							  <h5 class="mb-0">
							    <a data-toggle="collapse" href="#collapseTwo">
							      <span class="fa fa-plus-circle"></span>As a member what should I be doing??
							    </a>
							  </h5>
							</div>
							<!-- Collapse Body -->
							<div id="collapseTwo" class="collapse" data-parent="#accordion">
							  <div class="card-body">
                  The short answer: having fun!
                  <br>
                  <br>

                    Long answer: Here are some best practices we recommend for new members:
                    <ul>
                      <li>
                      Attend meetings as often as you can (2-3 times a month at min.)
                      </li>
                      <li>
                      take speaking or supporting roles
                      </li>
                      <li>
                      Get a mentor to help you identify your goals and get the most out of the club
                      </li>
                      <li>
                      Actively listen to evaluators: try to learn from the evaluations of your speeches and others!
                      </li>
                      <li>
                      Have fun! The best way to learn is to have fun along the way.
                    </li>
                  </ul>
							  </div>
							</div>
						</div>




					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of FAQ  ====-->
