<!--========================================
=            Navigation Section            =
=========================================-->

<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
      <!-- logo -->
      <a class="navbar-brand" href="index.html">
        <img src="images/logo.png" width= alt="logo">
        <span style="font-size:small">/ UT Sciences</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown dropdown-slide">
          <!-- active  -->
          <a class="nav-link" href="#"  data-toggle="dropdown">Website
            <span>/</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="http://utsciencestm.blogspot.com/">2019</a>
            <a class="dropdown-item" href="https://utsciencestm.wixsite.com/website">2020~Present</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index.html#agenda">Agenda
            <span>/</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index.html#officers">Officers
            <span>/</span>
          </a>
        </li>

<!--         <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ
            <span>/</span>
          </a>
        </li> -->

        <li class="nav-item dropdown  dropdown-slide">
          <a class="nav-link" href="/connect.html"  data-toggle="dropdown">Contact
            <!-- <span>/</span> -->
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www.facebook.com/groups/UTSTM">Facebook</a>
            <a class="dropdown-item" href="https://www.instagram.com/utsciencestoastmasters/?hl=en">Instagram</a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" href="#" data-toggle="dropdown">Pages<span>/</span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="about-us.html">About Us</a>
              <a class="dropdown-item" href="single-speaker.html">Single Speaker</a>
              <a class="dropdown-item" href="gallery.html">Gallery</a>
              <a class="dropdown-item" href="gallery-two.html">Gallery-02</a>
              <a class="dropdown-item" href="testimonial.html">Testimonial</a>
              <a class="dropdown-item" href="pricing.html">Pricing</a>
              <a class="dropdown-item" href="FAQ.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
            </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="schedule.html">Schedule<span>/</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sponsors.html">Sponsors<span>/</span></a>
        </li>
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" href="#"  data-toggle="dropdown">News
            <span>/</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="news.html">News without sidebar</a>
            <a class="dropdown-item" href="news-right-sidebar.html">News with right sidebar</a>
            <a class="dropdown-item" href="news-left-sidebar.html">News with left sidebar</a>
            <a class="dropdown-item" href="news-single.html">News Single</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul> -->
      &nbsp; &nbsp;
      <a href="/index.html#connect" class="ticket" style="color: white; height:40%">
        <!-- <img src="images/icon/ticket.png" alt="ticket"> -->
        <i class="fa fa-user-plus fa-lg"></i>
        <span>Connect</span>
      </a>
      &nbsp; &nbsp;
      </div>
  </div>
</nav>

<!--====  End of Navigation Section  ====-->
