
<!--========================================
=            Navigation Section            =
=========================================-->

<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
      <!-- logo -->
      <a class="navbar-brand" href="index.html">
        <img src="images/logo.png" alt="logo">
      </a>

      <div align='center'>
        <!-- <button id="btn2020" class="btn btn-main-md" style="display:none" onclick="version2=false;markZero=false;if(p5obj!=undefined){p5obj.remove();}startSketch(tos2019pts)">tOS 2.0.20</button> -->
        <!-- <button class="btn btn-main-md" onclick="p5obj.loop()">start </button> -->
        <!-- <button class="btn btn-main-md" onclick="">tOS 2.0.21</button> -->
        <!-- <button class="btn btn-main-md" onclick="$('#modalHow2EarnPoints').modal()">
          What it
        </button>

        <button class="btn btn-main-md" onclick="$('#modalHow2EarnPoints').modal()">
          Ways to Grow
        </button> -->
      </div>

  </div>
</nav>




<!-- Modal -->
<div class="modal fade" id="modalWelcome" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Update</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        Hey toasty bro/sis, your system is outdated. Please upgrade to 2.0.21.
        <!-- <br><br><button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" onclick="$("#modalHow2EarnPoints").modal();">Why?</button> -->
        <br><br><button type="button" class="btn btn-sm btn-secondary" onclick="$('#modalWelcome').modal('hide');setTimeout(function(){$('#modalWelcome').modal()}, 1000);">I will think about it later!</button>
        <br><br><button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" onclick="$(this).hide()">No. I like tOS 2.0.20</button>
        <br><br><button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" onmouseover="$(this).text('Yes, upgrade')" onmouseout="$(this).text('No. DO NOT ask me again')">No, don't ask me again</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xl btn-primary" onclick="$('#modalWelcome').modal('hide'); $('#modalUpgrade').modal();">Sure!</button>
        <button type="button" class="btn btn-sm btn-secondary" disabled>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalReady" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Installation Complete!</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        We have deleted all your toasty points. Now you are free to have a fresh start!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="$('#modalReady').modal('hide'); tos2021();">Unlock tOS 2.0.21</button>
        <!-- <button type="button" class="btn btn-xl btn-primary" onclick="$('#modalWelcome').modal('hide'); $('#modalUpgrade').modal();">Sure!</button> -->
        <!-- <button type="button" class="btn btn-sm btn-secondary" disabled>Close</button>
        -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalUpgrade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thank you for choosing to upgrade!</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        Upgrading... Please be patient.
        About 23244454 seconds to finish...
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it</button>
        <!-- <button type="button" class="btn btn-xl btn-primary" onclick="$('#modalWelcome').modal('hide'); $('#modalUpgrade').modal();">Sure!</button> -->
        <!-- <button type="button" class="btn btn-sm btn-secondary" disabled>Close</button> -->
      </div>
    </div>
  </div>
</div>
