<!--=========================
=            FAQ            =
==========================-->

<section id="faq" class="section faq sec2">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3><span class="alternate">FAQ</span></h3>
					<!-- <p>This section is designed to help answer your burning questions. What is UTSTM what should I be doing as a member etc. If your questions are more specific, look at the FAQ page, or Slack message an officer.</p> -->
					<p>Feel free to reach out any <a href="#officer">club officer</a> for questions.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="accordion-block">
					<div id="accordion">
						<!-- Collapse -->
						<div class="card">
							<!-- Collapse Header -->
							<div class="card-header" id="headingOne">
							  <h5 class="mb-0">
							    <a data-toggle="collapse" href="#collapseOne">
							      <span class="fa fa-plus-circle"></span>What is tOS?
							    </a>
							  </h5>
							</div>
							<!-- Collapse Body -->
							<div id="collapseOne" class="collapse show" data-parent="#accordion">
							  <div class="card-body">
                  It's a system designed to:
                  <br> 1 . Encourages you to reach your public speaking goals.
                  <br> 2. Celebrates members who are reaching towards their goals.
                  <br> 3. Develop strategies to reach your goals.
							  </div>
							</div>
						</div>
						<!-- Collapse -->

						<!-- Collapse -->
						<div class="card">
							<!-- Collapse Header -->
							<div class="card-header" id="headingOne">
							  <h5 class="mb-0">
							    <a data-toggle="collapse" href="#collapseThree">
							      <span class="fa fa-plus-circle"></span>How it works
							    </a>
							  </h5>
							</div>
							<!-- Collapse Body -->
							<div id="collapseThree" class="collapse" data-parent="#accordion">
							  <div class="card-body">
                  Simply put:
                  <ul>
                    <li>Members will collect <strong>points</strong> for a variety of tasks, roles, or speeches they complete.</li>
                    <li>Members will be <strong>rewarded</strong> for earning points, and winners can <strong>share their strategies</strong> with members and guests.</li>
                  </ul>
                  <br>
                  Our system is running on a monthly basis.

                  <ul>
                    <li>in the begining of each month, all members' exising toasty points will be reset to 0.</li>
                    <li>during each month, the system will fetch data from our signup sheet and keep updating everyone's toasty points.</li>
                    <li>in the end of each month, we will hold a celemony to celebrate winners and spread success experiences.</li>
                  </ul>
                  <br>
							  </div>
							</div>
						</div>


            <div class="card">
							<!-- Collapse Header -->
							<div class="card-header" id="cardHow2EarnPoints">
							  <h5 class="mb-0">
							    <a data-toggle="collapse" href="#collapseEarnPoints">
							      <span class="fa fa-plus-circle"></span>How to earn toasty points
							    </a>
							  </h5>
							</div>
							<!-- Collapse Body -->
							<div id="collapseEarnPoints" class="collapse" data-parent="#accordion">
							  <div class="card-body">
                  There are several ways

                  <ul>
                    <li>Sign up for meeting roles</li>
                    <li>Give feedbacks</li>
                    <li>Refer a friend</li>
                  </ul>

                  <br>
                  <a class="btn btn-main-md" style="color:white" onclick="$('#modalHow2EarnPoints').modal()">
                    See details
                  </a>
							  </div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="accordion-block">
					<div id="accordionTwo">

            <!-- Collapse -->
            <div class="card">
              <!-- Collapse Header -->
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseFour">
                    <span class="fa fa-plus-circle"></span>How to read the diagram?
                  </a>
                </h5>
              </div>
              <!-- Collapse Body -->
              <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  One useful techinique to reaching goals is to visualize your success.
                  Here, we visualize our progress using bubbles growing bigger in size (view ).
                  <!-- tOS, first introduced in 2009, has been proven a great tool to motivate club members to grow by engaging on more activities. We have made efforts to make it even better. -->
                  <br>
                  <!-- The process is transparent.  -->
                  In this page, we use one bubble to represent each member. Active members (tosty point > 0) will be shown in yellow while inactive members in white.
                  The more toasty points one has earned, the bigger her/his bubble will be.
                  <br>
                  <!-- <a class="btn btn-main-md" href="https://utsciencestm.wixsite.com/website/post/membership-why-is-it-important">
                    learn more
                  </a> -->
                </div>
              </div>
            </div>
            <!-- Collapse -->
            <div class="card">
              <!-- Collapse Header -->
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseFive">
                    <span class="fa fa-plus-circle"></span>How to check details of one's toasty points
                  </a>
                </h5>
              </div>
              <!-- Collapse Body -->
              <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  You can click the name and it will redirect you to a timeline page showing where all the points come from.
                </div>
              </div>
            </div>

            <div class="card">
							<!-- Collapse Header -->
							<div class="card-header" id="headingOne">
							  <h5 class="mb-0">
							    <a data-toggle="collapse" href="#collapseTwo">
							      <span class="fa fa-plus-circle"></span>What are the awards?
							    </a>
							  </h5>
							</div>
							<!-- Collapse Body -->
							<div id="collapseTwo" class="collapse" data-parent="#accordion">
							  <div class="card-body">
                  We plan to offer traveling trophies to:
                  <ul>
                    <li>Toasty of the Month (exec. member, member, and guest)</li>
                    <li>Mentorship Pair of the Month</li>
                  </ul>

                  Also, each year we offer trophies to:
                  <ul>
                    <li>Toasty of the Year</li>
                    <li>Most improved Member</li>
                    <li>Best Speaker/Evaluator/TabletopicSpeaker of the year</li>
                    <li>Most improved Member</li>
                  </ul>
							  </div>
							</div>
						</div>




					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of FAQ  ====-->
